<h1>Corey's NYT React Searcher</h1>

<div class="row">
    {{#each article}}
    <div class="col-xs-4">
        <h5>{{this.title}}</h5>
    </div>
    <div class="col-xs-4">
        <h5>{{this.date}}</h5>
    </div>
    <div class="col-xs-4">
        <h5>{{this.url}}</h5>
    </div>
    {{/each}}
</div>       

