body {
    background-image: url("http://www.planwallpaper.com/static/images/background-wallpapers-32.jpg");
}
.container {
    width: 100%;
    max-width: 800px;
    border: 2px solid #8A8A8A;
    background-image: url("http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");

}

.saveButton {
    width: 150px;
}

.image {
    float: right;
    width: 75px;
}